<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd">
	
	<!-- 配置Controller扫描 -->
	<context:component-scan base-package="com.vote.controller,com.test.controller" ></context:component-scan>
	
	<!-- 配置注解驱动 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- swagger配置 -->
	<bean class="com.vote.utils.swagger.SwaggerConfig" />
	
	<!-- 配置好处理器 -->
	<bean id="websocketHandler" class="com.vote.utils.websocket.WebSocketHandler"/>
	
	<!-- 对静态资源放行  -->
	<mvc:resources location="/static_resource/" mapping="/static_resource/**"/>
	
	<!-- 所有swagger目录的访问，直接访问location指定的目录 -->
	<mvc:resources mapping="/swagger/**" location="/WEB-INF/swagger/"/>
	
	<!-- 配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 前缀 -->
		<property name="prefix" value="/WEB-INF/view/" />
		<!-- 后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置上传文件的最大尺寸为5MB -->
		<property name="maxUploadSize">
			<value>5242880</value>
		</property>
	</bean>
	
	<!-- 配置WebSocket拦截器 -->
    <websocket:handlers>
    	<!-- 连接的URL 这里的handler是上面注解配置的WebSocketHandler处理器的id -->
        <websocket:mapping path="/websocket/socketServer" handler="websocketHandler"/>
        <websocket:handshake-interceptors>
            <bean class="com.vote.utils.websocket.WebSocketHandshakeInterceptor"/>
        </websocket:handshake-interceptors>
    </websocket:handlers>
    
	<!--拦截器 -->
	<mvc:interceptors>
		<!-- 多个拦截器,顺序执行 -->
		<!-- 登陆认证拦截器 -->
		<mvc:interceptor>
			<!--**表示所有url包括子url路径-->
			<!-- IP限制拦截器 -->
			<mvc:mapping path="/admin/**"/>
			<bean class="com.vote.interceptor.AuthorityIPInterceptor"></bean>
		</mvc:interceptor>
		
	</mvc:interceptors>
</beans>
	
